---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import FormatImage from '@components/FormatImage.astro'
import Sectionhead from "@components/sectionhead.astro";
const services = await getCollection('services')

---

<Sectionhead>
  <Fragment slot="title" class="text-center">
    Servicios
  </Fragment>
  <Fragment slot="desc">
    Montaje Experto de Muebles para Hogares y Oficinas en Montevideo
  </Fragment>
</Sectionhead>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    services.map((item) => (
      <a href={`/servicio/${item.slug}`}>
        <div class="aspect-video object-cover rounded-md">
            <FormatImage src={`/src/content/services/${item.slug}/image`} alt={item.data.title}/>
        </div>
        <div>
          <h3 class="font-semibold text-lg text-center mt-4">{item.data.menu}</h3>{" "}
          {/* <p class="text-slate-500 mt-2 leading-relaxed">{data.description}</p> */}
        </div>
      </a>
    ))
  }
</div>
